<div class="row">
  <div class="col-md-4 col-md-offset-4 page-header">
    <h2>Register key</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <p class="lead">
      Please insert the key and press the button within 15 seconds
    </p>
    <p class="text-center text-success well" id="waiting">
      Waiting...
    </p>
    <p class="alert alert-danger" id="error" style="display: none;"></p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <p>
      <a href="/">&laquo; Back to main page</a>
    </p>
  </div>
</div>

<%= form_tag '/registrations', method: 'post' do %>
<%= hidden_field_tag :response %>
<% end %>

<script>
var appId = <%= @app_id.to_json.html_safe %>
var registerRequests = <%= @registration_requests.to_json.html_safe %>;
var signRequests = <%= @sign_requests.as_json.to_json.html_safe %>;

u2f.register(appId, registerRequests, signRequests, function (registerResponse) {
  var form,
    reg;

  if (registerResponse.errorCode) {
    return alert("Registration error: " + registerResponse.errorCode);
  }

  form = document.forms[0];
  response = document.querySelector('[name=response]');

  response.value = JSON.stringify(registerResponse);

  form.submit();
});
</script>