<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- ========== VIEWPORT META ========== -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- ========== PAGE TITLE ========== -->
    <title>Deauthorized</title>

    <!-- ========== META TAGS ========== -->
    <meta name="description" content="Secure your financial accounts from hackers and fraud.">
    <meta name="keywords" content="software, mobile app, secruity, saas">
    <meta name="author" content="Deauthorized">

    <!-- ========== FAVICON & APPLE ICONS ========== -->
    <link rel="shortcut icon" href="">
    <link rel="apple-touch-icon" href="">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'user', media: 'all' %>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <%= javascript_include_tag 'user' %>

    <!-- Webpacker Assets -->
    <%= javascript_pack_tag 'application' %>

  </head>

  <!-- ========== BODY ========== .light-header: for light colored header .dark-header: for dark colored header ========== ========== -->
  <body>
    <%= render 'user_header' %>
    <div class="container-fluid">
      <div class="row">
        <%= render 'sidebar' %>

        <%= yield %>
      </div>
    </div>
    <%= render 'user_footer' %>
  </body>
</html>